[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
selenium = "*"
urllib3 = "*"
beautifulsoup4 = "*"
chromedriver-binary = "*"

[requires]
python_version = "3.7"
