[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
selenium = "*"
urllib3 = "*"
beautifulsoup4 = "*"
flake8 = "*"
black = "==18.3a0"
numpy = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
